@import 'config';


header#contact,
header#contact::before {
  content: '';
  background: cover 50% 50%;

}

header#contact::after {
  content: '';
  position: absolute;
  display: block;
  background-image: $header-image3;
  background-size: cover;
  border-radius: 10px;
  -webkit-transform-origin: center center 0;
  -moz-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  -o-transform-origin: center center 0;
  transform-origin: center center 0;
  
  -webkit-transform: translateZ(-4px) scale(2.6);
  -moz-transform: translateZ(-4px) scale(2.6);
  -ms-transform: translateZ(-4px) scale(2.6);
  -o-transform: translateZ(-4px) scale(2.6);
  transform: translateZ(-4px) scale(2.6);
  z-index: -10;
  min-height: 100vh;
  min-width: 100vw;
  top: 10px;
}

// ------------------header end

.drop-shadow {
  width: 100%;
  height: 100%;
  filter: drop-shadow(10px 30px 20px rgba(0, 0, 0, $shadow-opacity));
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    display: block;
    content: '';
    position: absolute;
    height: calc(100vh - 10vh);
    width: calc(100vw - 10vw);
    z-index: -5;
  }

  >span {
    // -------------------------------> heading position
    top: 60%;
    left: 70%;
    position: absolute;
    z-index: 5;
    color: $blue-text;
    @include ol {top: 10%; left: 20%;}
    @include sm {top: 25%; left: 10%;}
    @include md {top: 30%; left: 15%;}
    @include tb {top: 40%; left: 12%;}
    @include lg {top: 25%; left: 12%;}
    @include xl {top: 25%; left: 18%;}
    @include wxl {top: 25%; left: 18%;}
  }
}

#contact-us{
padding: 50px 20px;
position: relative;
background:$skyblue-background;
}
#contact-us .wrap {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
#contact-us .wrap .pannel-left {
    display: inline-block;
    padding-right: 10%;
    vertical-align: top;
    width: 70%;
    line-height: 1.5;
    text-align: left;
}
#contact-us .contact-form {
    margin-top: 30px;
}
* {
    margin: 0;
        margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
}
.contact-form-field {
    width: 95%;
}
#contact-us .contact-form .contact-form-field {
    border: 1px solid 
    #e5e5e5;
    border-radius: 5px;
    outline: 0;
    width: 80%;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
input, textarea {
    font: 13px Roboto,sans-serif;
        font-size: 13px;
}
#contact-us .contact-form .submit-btn {
    font-size: 16px;
    padding: 15px 50px;
}
.button.v-pixpa-blue {
    background: 
#ff4a64;
color:
    #fff;
}
.margin-t25 {
    margin-top: 25px;
}
.button {
    padding: 18px 35px;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: #000;
    font-size: 15px;
    letter-spacing: .1em;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
    font-family: Roboto,sans-serif;
}
#contact-us .wrap .pannel-right {
    width: 100%;
    padding-top: 40px;
    border-top: 1px solid 
    #ccc;
}
#contact-us .wrap .pannel-right {
    text-align: left;
    display: block;
    width: 25%;
    line-height: 1.5;
}
.pannel-right {
    width: 100%;
    margin: 10% 0;
}