@import url('https://fonts.googleapis.com/css?family=Philosopher|Poiret+One&display=swap&subset=cyrillic');
.co-info{
 padding: 16px;   
// grid view;
 display: grid;
 grid-gap: 1rem;
 grid-template-columns: 1fr 1fr 1fr;
 
 h2{
    // @import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
    margin-top: 100px;
    padding-right: 20px;
    margin-right: 20px;
    border-left: 5px;
    text-align: right;
    font-family: 'Poiret One', cursive;
    font-size: 64px;
    color: $light-Blue-text;
    
} 
.gradient-box {
    position: relative;
    $border: 5px;
    background:$offwhite-background;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
  
    &:before {
      content: '';
      position: absolute;
      top: 5px; right: 0; bottom: 5px; left: 5px;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, red, orange);
    }
  }
 
  .text{
    line-height: 2rem;
    // letter-spacing: 0.2rem;
  }

#stair{
     width: 600px;
     height: 700px;
     
 }
 .shadow {
  -moz-box-shadow:    2px 2px 4px 4px rgb(0, 0, 0);
  -webkit-box-shadow: 2px 2px 4px 4px rgb(0, 0, 0);
  -ms-box-shadow:     2px 2px 4px 4px rgb(0, 0, 0);
  -o-box-shadow:      2px 2px 4px 4px rgb(0, 0, 0);
  box-shadow:         2px 2px 4px 4px rgb(0, 0, 0);
 }
 p{

    text-align: left;
    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
 }
 
 #bath{
     width: 550px;
     
 }
 .shadow {
  -moz-box-shadow:    2px 2px 4px 4px rgb(0, 0, 0);
  -webkit-box-shadow: 2px 2px 4px 4px rgb(0, 0, 0);
  -ms-box-shadow:    2px 2px 4px 4px rgb(0, 0, 0);
  -o-box-shadow:      2px 2px 4px 4px rgb(0, 0, 0);
  box-shadow:         2px 2px 4px 4px rgb(0, 0, 0);
  }
 }